<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mybatis.AlertMapper">

    <select id="getAlertList" resultType="com.example.demo.domain.AlertDO">
        select * from alert where email = #{userId};
    </select>

    <insert id="addAlert">
        insert into alert (email, scholarship_id, sent_time, is_sent, is_checked)
            values (#{alertInput.email}, #{alertInput.scholarshipId}, NOW(), false, false);
    </insert>

    <insert id="deleteAlert">
        delete from alert where email =  #{alertInput.email} and (scholarship_id = #{alertInput.scholarshipId} or notice_id = #{alertInput.noticeId});
    </insert>
    
    <insert id="checkAlert">
        update alert
            set is_checked = true
        where email = #{alertInput.email} and (scholarship_id = #{alertInput.scholarshipId} or notice_id = #{alertInput.noticeId});
    </insert>

    <select id="isAlert" resultType="String">
        select count(1) from alert where email = #{alertInput.email} and (scholarship_id = #{alertInput.scholarshipId} or notice_id = #{alertInput.noticeId});
    </select>

</mapper>