<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mybatis.ScholarshipMapper">

    <select id="getAllScholarships" resultType="com.example.demo.domain.Scholarship">
        select * from scholarship;
    </select>

    <select id="getScholarshipDetail" resultType="com.example.demo.domain.Scholarship">
        select * from scholarship where id = #{scholarshipId}
    </select>

<!--    <select id="scholarshipFilter" resultType="com.example.demo.domain.Scholarship">-->
<!--        select * from scholarship where id like '%${filteringWord}%' or qualification_detail like '%${filteringWord}%'-->

<!--        <choose>-->
<!--            <when test='category.equalsIgnoreCase("학교")'>-->
<!--                id like '%${filteringWord}%' or qualification_detail like '%${filteringWord}%'-->
<!--            </when>-->
<!--            <when test='category.equalsIgnoreCase("소속")'>-->
<!--                major_sort like '%${filteringWord}%'-->
<!--            </when>-->
<!--            <when test='category.eqaulsIgnoreCase("전공")'>-->
<!--                major_sort like '%${filteringWord}%'-->
<!--            </when>-->
<!--            <when test='category.equalsIgnoreCase("주소")'>-->
<!--                local_residence_detail like '%${filteringWord}%'-->
<!--            </when>-->
<!--        </choose>-->
<!--    </select>-->
    <select id="scholarshipFilter" resultType="com.example.demo.domain.Scholarship">
        select * from scholarship where id like '%${filteringWord}%' or qualification_detail like '%${filteringWord}%'
    </select>

</mapper>