<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mybatis.ScholarshipMapper">

    <select id="getAllScholarships" resultType="com.example.demo.domain.Scholarship">
        select * from scholarship;
    </select>

    <insert id="increaseShowNum">
        update scholarship
            set show_num = show_num + 1
        where id = #{scholarshipId}
    </insert>


    <select id="getScholarshipDetail" resultType="com.example.demo.domain.Scholarship">
        select * from scholarship where id = #{scholarshipId}
    </select>

    <select id="scholarshipFilter" resultType="com.example.demo.domain.Scholarship">
       select * from scholarship
        <if test='filterInput.allFalse == true'>
            order by duration_detail asc
        </if>
        <trim prefix="where" prefixOverrides="and">
            <if test='filterInput.school != null'>
                and qualification_detail like '%${filterInput.school}%'
            </if>
            <if test='filterInput.department != null'>
                and major_sort like '%${filterInput.department}%'
            </if>
            <if test='filterInput.major != null'>
                and (major_sort like '%${filterInput.major}%' or qulification_detail like '%${filterInput.major}%')
            </if>
            <if test='filterInput.grade != null'>
                and grade_stand_detail like '%${filterInput.grade}%'
            </if>
            <if test='filterInput.attendance != null'>
                and (qualification_detail like '%${filterInput.attendance}%' or qualification_restriction_detail like '%${filterInput.attendance}%')
            </if>
            <if test='filterInput.incomeSection != null'>
                <foreach collection="filterInput.incomeSection" item="class" open="and (" separator="or" close=")">
                    (income_stand_detail like '%${class}분위%') or (income_stand_detail like '%${class}구간%') or (income_stand_detail like '%${class}~%')
                </foreach>
            </if>
            <if test='filterInput.specialClass != null'>
                <foreach collection="filterInput.specialClass" item="class" open="and (" separator="and" close=")">
                    (qualification_detail like '%${filterInput.class}%' or income_stand_detail like '%${filterInput.class}%')
                </foreach>
            </if>
            <if test='filterInput.address != null'>
                and (id like '%${address}%' or local_residence_detail like '%${filterInput.address}%')
            </if>
            <if test='filterInput.scholarshipNature != null'>
                and (id like '%${scholarshipNature}%' or support_detail like '%${filterInput.scholarshipNature}%')
            </if>
            <if test='filterInput.doubleBenefit == true'>
                and (support_detail like '%중복수혜 가능%' or support_detail like '%중복지원 가능%' or support_detail like '%중복수급 가능%' or support_detail like '%이중수혜 가능%')
            </if>
            <!-- <if test='filterInput.doubleBenefit == true'>
                <foreach collection="filterInput.doubleBenefitKeyword" item="keyword" open="and (" separator="or" close=")">
                    support_detail like '%keyword%' or qualification_restriction_detail like '%keyword%'
                </foreach>
            </if> -->
        </trim>
   </select>

    <select id="searchScholarships" resultType="com.example.demo.domain.Scholarship">
        select * from scholarship where id like '%${searchWord}%' order by duration_detail asc;
    </select>

    <select id="isScholarshipExisting" resultType="int">
        select count(1) from scholarship where id = #{scholarshipId}
    </select>

</mapper>